.logo {
  line-height: 90px;
  padding-left: 20px;
  background: #001529;
}
.logo img {
  height: 35px;
}
.logo h3 {
  color: #ffffff;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
